
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 280px;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.btn-sm {
  margin: 5px;
}

.modal-header {
  background-color: black;
  color: white;
}

.icon-link {
  cursor: pointer;
}

a {
  color: black;
}

.tether-element {
  z-index: 1050; 
}


.datePicker > div > div > input[type="text"] {
  @extend .form-control;
} 

.deleted-row {
  background-color: rgba(210, 21, 21, 0.25) !important;
}

